@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;


}

html {
    scroll-behavior: smooth;
    background-color: white;
}



section {
    padding-top: 140px;
    padding-bottom: 140px;
}

p {
    line-height: 1.5;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: white;

}


a:hover {
    text-decoration: underline;
}

span {
    color: rgba(100,21,255);
}






/* NAV */

/* Button */
.btn__menu {
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: 24px;
    display: none;
}

.btn__menu i {
    border: none;
}

.menu__backdrop {
    position: absolute;
    background-color:#242424;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;


}

.menu--open .menu__backdrop {
    display: flex;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__list {
    padding: 8px;
   list-style: none;
}

.menu__link {
    color: white;
}

.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: white;
}

nav {
    padding: 0 12px;
}

nav p {
    font-weight: 700;
    font-size: 24px;
    padding-left: 10px;
}

.nav__logo {
    width: 100%;
    max-width: 40px;

    
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding-top: 16px;
    

}

nav figure{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.nav__links {
    display: flex;
    
    
}

.nav__link {
    margin-left: 32px;
    padding: 8px;
    text-decoration: none;
    list-style-type: none;
    font-weight: 500;
    font-size: 14px;

}

.link__style {
    color: #242424;
}

.nav__link--primary {
    border-radius: 20px;
    padding: 8px 24px;
    --tw-bg-opacity: 1;
    background-color: rgba(100,21,255,var(--tw-bg-opacity));
    color: white;
    margin-left: 8px;
    
    
}

.nav__link--primary a:visited {
    color: white;
}

.link__style--login {
    padding-left: 30px;
}

/* HEADER */

.header {
    padding-top: 96px;
    padding-bottom: 96px;
}

.header__container {
    display: flex;
    
}

.text2 {
    font-size: 16px;
   
   padding-bottom:10px;
}

.header__container--text {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    padding-bottom:10px;
    align-items: center;
    justify-content: center;
    
}

.header__container--image {
    width: 100%;
    max-width: 800px;
    
}

h1 {
    font-size: 45px;
}

.header__container--paragraph {
    padding-top: 32px;
    padding-bottom: 32px;
}

form {
    /* This bit sets up the horizontal layout */
    display:flex;
    flex-direction:row;
    
    /* This bit draws the box around it */
    border:2px solid grey;
    border-radius: 40px;
  
    /* I've used padding so you can see the edges of the elements. */
    padding: 12px 20px;
  }
  
  input {
    /* Tell the input to use all the available space */
    flex-grow:2;
    /* And hide the input's outline, so the form looks like the outline */
    border:none;
  }
  
  input:focus {
    /* removing the input focus blue box. Put this on the form if you like. */
    outline: none;
  }
  
  .header button {
    /* Just a little styling to make it pretty */
    border:1px solid blue;
    background:rgba(100,21,255);
    color:white;
    padding: 12px 20px;
    border-radius: 30px;
    font-weight: 700;
    font-size: 16px;

  }

  button:hover{
    cursor: pointer;
    opacity: 0.5;
  }

/* SERVICES */

.second__container {
    
            
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information__contain {
    display: flex;
    flex-wrap: wrap;
    
    

}

.information__container {
    display: flex;
    width: calc(100%/3);
    margin-top: 80px;
    
}

.information {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 40px;
    padding-right: 20px;
    padding-bottom: 0px;
    margin: 0 auto;
    
}



.second__container--row {
    max-width: 100%;
    width: 1000px;
    margin: 0 auto;
    
}

i {
    padding: 16px;
    border: 1px solid rgb(175, 169, 169);
    color: rgba(100,21,255);
    
    border-radius: 50%;
}

.sectiontwo p {
    color: grey;
    font-weight: 500;
    
}

.paragraph {
    width: 600px;
}

.sectiontwo h1 {
    padding-bottom: 20px;
    opacity: 0.8;
    word-spacing: 8px;
    font-size: 50px;
}

.information h2{
    padding-bottom: 12px;
}

/* DESIGN SECTION */

.design__container {
    display: flex;
    width: 100%;
   

}

.image2{
    width: 100%;
    
    
}

.design__container--text {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding-right: 80px;
    justify-content: space-around;
}

.design__button {
    width: 20%;
    padding: 8px 0;
    border-radius: 20px;
    background-color: rgba(100,21,255);
    color: white;
    font-weight: 700;
    border: 1px solid;
}

/*START SECTION*/

.start__container {
    display: flex;
    align-items: center;
}

.image3 {
    width: 600px;
    height: auto;
}

.start__container--text {
    padding-bottom: 40px;
    overflow: hidden;
    padding-left: 60px;
    
}

.number {
    display: flex;
    padding-top: 40px;
    width: 80%;
}

.text {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    line-height: 2;
}

.number h1 {
     color: grey;
     opacity: 0.5;
}

.number p {
    font-weight: 500;
    color: grey;
    opacity: 0.7;
}

/* PLANS */

.plan__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.plan__container--text {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 32px;
}

.plan__container--text p {
    width: 50%;
}

.plan__container--text p, h1, h3 {
    padding-bottom: 16px;
}

.pricing__plan {
    display: flex;
    justify-content: space-between;
}

.personal, .business, .enterprise  {
    border: 2px solid whitesmoke;
    width: calc(100%/3.2);
    height: 655px;
    border-radius: 10px;
    padding-top: 24px;
    
    
}

.personal {
    border-top: 8px solid rgb(56, 178, 172);
}


.pricing__plan p {
   margin-bottom: 30px;
   
}

.pricing__plan h4 {
    margin-bottom: 30px;
}

hr {
    margin: 40px 0px;
    
}

.pricing__plan button {
    padding: 16px 60px;
    border-radius: 88px;
    border: 0px solid;
}

.personal button {
    color: white;
    font-weight: 700;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);

}

.personal p , .enterprise  p{
    opacity: 0.5;
    font-weight: 500;
    
}

.business {
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    color: white;
    border-top: 8px solid transparent;
}

.business button {
    color: rgb(102, 126, 234);
    font-weight: 700;
}

.enterprise {
    border-top: 8px solid rgb(240, 130, 90);
}

.enterprise button {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    font-weight: 700;
    color: white;
}


/* FOOTER */

footer {
    background-color:   rgba(100,21,255);
   padding: 120px 120px;
}

.footer__container {
    display: flex;
    flex-direction: column;
}

.footer__text--container {
    display: flex;
    justify-content: space-between;

}

.second__footer {
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
}

.footer__img {
    width:42px;
}

.footerlogo {
    display: flex;
    align-items: center;
}

footer i{
    background-color: white;
    color:black;


}

.footer__text p{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    font-weight: 100;
    opacity: 0.8;
    
}

.footer__text h5 {
    padding-bottom: 20px;
    font-size: 16px;
    color: white;
    
}

footer hr {
    border: none;
    color: grey;
    background-color: grey;
    height: 1px;
}

/* MAKE MOBILE RESPONSIVE */

/* Small phones, tablets, large smartphones */

@media (max-width:820px){
    nav {
        height: 68px;
    }

    .btn__menu {
        display: block;
    }

    .nav__links {
        display: none;
    }

    .nav__container figure {
        width: 160px;
    }

    h1 {
        font-size: 25px;
    }

    .header__container{
        display: flex;
        flex-direction:column;
        align-items: center;
    }

    html {
        margin: 0; 
        height: 100%;
        
    }

    .header__container--text {
        width: 450px;
        
    }

    figure {
        width: 90%;
    }




    form {
        /* This bit sets up the horizontal layout */
        display:flex;
        flex-direction:row;
    
        /* This bit draws the box around it */
        border:2px solid grey;
        border-radius: 40px;
      
        /* I've used padding so you can see the edges of the elements. */
        padding: 12px 20px;
      }
      
      input {
        /* Tell the input to use all the available space */
        flex-grow:2;
        /* And hide the input's outline, so the form looks like the outline */
        border:none;
      }
      
      input:focus {
        /* removing the input focus blue box. Put this on the form if you like. */
        outline: none;
      }
      
      .header button {
        /* Just a little styling to make it pretty */
        border:1px solid blue;
        background:rgba(100,21,255);
        color:white;
        padding: 8px 20px;
        border-radius: 30px;
        font-weight:700;
        font-size: 12px;
    
      }

      /* features */

      .information__contain {
        padding: 0 12px;
        height: 50vh;
        align-items: center;
        flex-direction: column;
      }

      /* Quality work */

      .sectiontwo {
        padding: 0;
      }

     .design__container{
        padding: 0 16px;
        display: flex;
        justify-content: center;
        align-items: center;
     }

     .design__button{
        width: 90px;
        margin-top: 16px;
        padding-bottom: 18px;
     }

     /* steps */

     .start__container {
        padding: 0 16px;
     }

     .image3 {
        width: 400px;
     }

     .start__container h1 {
        font-size: 40px;
     }

     /* Plans */

     .plan__container {
        display: flex;
        flex-direction: column;
        
     }

     .pricing__plan {
        display: flex;
        flex-direction:column;
        align-items: center;
     }

     .personal, .enterprise, .business {
        width: 400px;
        margin-bottom: 80px;
     }

     footer {
        padding: 20px;
     }

     .text2 {
        text-align: center;
     }




   


}


@media (max-width: 420px){
    nav {
        padding: 8px;
    }

    nav figure {
        width: 140px;
    }

    .btn__menu{
        display: block;
    }

    .nav__links {
        display: none;
    }


    .header__container--text {
        padding: 10px 0;
    }

    .header__container--text .text2 {
        font-size: 16px;
        width: 350px;
    }

    .header__container--text h1 {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    /*Features*/

    .paragraph {
        width: 350px;
    }

    .information__contain{
        height: 150vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;


    
    }

    .information__container {
        width: 240px;
    }

    /*Design*/

    .design__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 80px;
    }

    .design__container--text{
        padding: 0;
        text-align: center;
        display: flex;
        align-items: center;
        
    }

    .personal, .enterprise, .business {
        width: 350px;
    }

    /* Start */

    section {
        padding: 70px 0;
    }

    .start__container{
        display: flex;
        flex-direction: column-reverse;
        width: 100vw;
        justify-content: center;
        align-items: center;
    }

    .image3 {
        width: 350px;
    }


    /*Footer*/ 

    .footer__text--container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height:432px;
        width: 350px;
        align-items: center;
    }

    .footer__text{
        
        display: flex;
        flex-direction: column;
        align-items: center;
       
        text-align: center;
        width: 120px;
    }

  .second__footer {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    justify-content: space-between;
    height: 200px;
  }
    
}

html {}










